server:
  port: 9003

spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        server-addr: localhost:1111
#        server-addr: localhost:8848
management:
  endpoints:
    web:
      exposure:
        include: '*'
